/* Navigation Bar */

nav {
    background: #1565c0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 45px;
    height: 45px;
}

.logo h2 {
    margin: 0;
    font-size: 28px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav ul li {
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li:hover {
    color: yellow;
}